@use "../../base/variable" as *;

.hero {
  position: relative;
  margin-top: $h-header;

  .hero-background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 80rem;
  padding: 4rem 0;

  .hero-content,
  .hero-img {
    flex-basis: 50%;
  }

  .hero-img {
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .hero-content {
    h1 {
      font-size: 7rem;
      font-weight: 700;
      color: $clr-primary;
    }

    .hero-content__short {
      color: $clr-blue-dark;
      font-size: 2rem;
      font-weight: 600;
    }

    .hero-content__long {
      color: $clr-secondary;
      margin-top: 1rem;
    }
  }
}
