// Import biến ở file variable để chúng ta sử dụng.
//  as * import vào và sử dụng đúng tên biến.
@use "../../base/variable" as *; // nhớ có as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: $h-header;
  padding-left: 3rem;
  padding-right: 3rem;

  box-shadow: 0 2px 4px #e2ebfc;

  h1 {
    font-size: 2.6rem;
    font-weight: 600;
    color: $clr-primary;
  }

  // Lồng nhiều nhất 3 cấp.
  .navigation {
    .nav-item {
      // Cách tạo biến: $<ten_bien>
      $padding: 2.5rem;

      padding-left: $padding;
      padding-right: $padding;
    }

    .nav-link {
      text-decoration: none;
      color: black;
      font-size: 1.6rem;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 0.2rem;
        background-color: $clr-primary;
        transform: scale(0);
        transition: all 0.3s linear;
      }

      &:hover {
        &::after {
          transform: scale(1);
        }
      }

      &.nav-link__active {
        &::after {
          transform: scale(1);
        }

        font-weight: 600;
        color: $clr-primary;
      }
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }
}
