// Import biến ở file variable để chúng ta sử dụng.
//  as * import vào và sử dụng đúng tên biến.
@use "../../base/variable" as *; // nhớ có as *;

@use "../../helper" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: $h-header;
  padding-left: 3rem;
  padding-right: 3rem;

  box-shadow: 0 2px 4px #e2ebfc;

  h1 {
    font-size: 2.6rem;
    font-weight: 600;
    color: $clr-primary;
  }

  // Lồng nhiều nhất 3 cấp.
  .navigation {
    .nav-item {
      // Cách tạo biến: $<ten_bien>
      $padding: 2.5rem;

      // Tạo biến trong css: --[Ten_Bien]
      --padding: 2.5rem;

      // padding-left: $padding;
      // padding-right: $padding;

      // Cách sử dụng biến css
      padding-left: var(--padding);
      padding-right: var(--padding);

      @include responsive("lg") {
        // padding-left: 0.8rem;
        // padding-right: 0.8rem;

        --padding: 0.8rem;
      }
    }

    .nav-link {
      text-decoration: none;
      color: black;
      font-size: 1.6rem;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 0.2rem;
        background-color: $clr-primary;
        transform: scale(0);
        transition: all 0.3s linear;
      }

      &:hover {
        &::after {
          transform: scale(1);
        }
      }

      &.nav-link__active {
        &::after {
          transform: scale(1);
        }

        font-weight: 600;
        color: $clr-primary;
      }
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }

  .btn-menu,
  .small-menu {
    display: none;
  }

  @include responsive("sm") {
    .navigation {
      display: none;
    }
    .btn-menu {
      display: block;
    }

    .small-menu.active {
      display: block;
    }
    .small-menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: wheat;
      height: 100vh;
      padding: 2rem 4rem;
      font-size: 2rem;

      ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      .close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 3rem;
        background-color: transparent;
        border: none;
      }
    }
  }
}
