// Import vào. để có thể biên dịch
@use "components/header";
@use "base/reset.scss";
@use "components/hero";

// -- Utils --
.container {
  margin-right: 2rem;
  margin-left: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
